In [7]:
import math
import numpy as np
import pandas as pd
from rdkit import Chem
import sys
import os
import glob
import pickle
sys.path.append('Mol2DSimi')
from Similarity_search import simi_search

# 1. Smiles

In [8]:
active = pd.read_csv('Data/similarity.csv')
active.head()

           ID                                             smiles
0     CMF-019  CC(C)C[C@H](NC(C1=CC=C2C(N=C(CC3=CC=CS3)N2C(CC...
1     AMG 986  S(=O)(=O)(Nc1n(-c2c(OC)cccc2OC)c(-c2cc(C)cnc2)...
2  BMS-986224  O=C1NC(COCC)=C(C2=C(OC)C=CC=C2OC)C(O)=C1C3=NN=...

In [9]:
search = simi_search(data=None, smiles_col='SMILES', ID_col='ID', 
                     active_col='Active', model_path = './Model', input_smiles=active['smiles'][1], id_name = 'CMF')
search.fit()
display(search.data_filter.head())

,SMILES,ID,Active,ROMol,tanimoto_avalon,tanimoto_maccs,tanimoto_ecfp2,tanimoto_ecfp4,tanimoto_ecfp6,tanimoto_fcfp2,...,dice_ecfp2,dice_ecfp4,dice_ecfp6,dice_fcfp2,dice_fcfp4,dice_fcfp6,dice_rdk5,dice_rdk6,dice_rdk7,dice_map4
0,S(=O)(=O)(Nc1n(-c2c(OC)cccc2OC)c(-c2cc(C)cnc2)...,CMF,0,<rdkit.Chem.rdchem.Mol object at 0x7ff4c9b80d60>,1.0,1.0,1.0,1.0,1.0,0.035088,...,1.0,1.0,1.0,0.067797,0.038462,0.013333,1.0,1.0,1.0,1.0

,tanimoto_avalon,tanimoto_maccs,tanimoto_ecfp2,tanimoto_ecfp4,tanimoto_ecfp6,tanimoto_fcfp2,tanimoto_fcfp4,tanimoto_fcfp6,tanimoto_rdk5,tanimoto_rdk6,tanimoto_rdk7,tanimoto_map4,Pred,Proba
CMF,1.0,1.0,1.0,1.0,1.0,0.035088,0.019608,0.006711,1.0,1.0,1.0,1.0,1,0.99957

# 2. Database

In [ ]:
search = simi_search(data=active, smiles_col='smiles', ID_col='ID', 
                     active_col='Active', model_path = './Model', )
search.fit()
display(search.data_filter.head())